*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  #window{
    width: 800px;
    height: 400px;
    outline: 1px solid black;
    position : relative;

    #slideUl {
      height: 400px;
      outline: 1px solid red;
      
      
      & li {
        width: 800px;
        height: 400px;
        outline: 1px solid black;
        text-align: center;
        position : absolute;
        left: 0;
        top: 0;
      }

      #items1{
        background-color: aqua;
        opacity: 1;
        z-index: 2;
      }
      #items2{
        background-color: red;
        opacity: 0;
        z-index: 1;
      }
      #items3{
        background-color: cadetblue;
        opacity: 0;
        z-index: 0;
      }
    }
  }
}