*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #ccc;

  #window{
    width: 800px;
    height: 400px;
    outline: 1px solid black;

    #slideUl {
      height: 400px;
      outline: 1px solid red;
      
      & li {
        outline: 1px solid black;
        text-align: center;
      }

      #items1{
        background-color: aqua;
      }
      #items2{
        background-color: red;
      }
      #items3{
        background-color: cadetblue;
      }
    }
  }
}